*.bin
*.obj
*.zip
/bin
/obj
src/bin
src/obj
src/log
src/data
src/Services/Inventory/Inv.Application/bin
src/Services/Inventory/Inv.Application/obj
src/Services/Inventory/Inv.Domain/bin
src/Services/Inventory/Inv.Domain/obj
src/Services/Inventory/Inv.Infrastructure/bin
src/Services/Inventory/Inv.Infrastructure/obj
src/Services/Inventory/Inv.Persistence/bin
src/Services/Inventory/Inv.Persistence/obj
src/Services/Inventory/Inv.Shared/bin
src/Services/Inventory/Inv.Shared/obj
src/Services/Inventory/Inv.WebAPI/bin
src/Services/Inventory/Inv.WebAPI/obj
