*.bin
*.obj
*.zip
/bin
/obj
src/bin
src/obj
src/log
src/data
src/Services/Inv/Inv.Application/bin
src/Services/Inv/Inv.Application/obj
src/Services/Inv/Inv.Domain/bin
src/Services/Inv/Inv.Domain/obj
src/Services/Inv/Inv.Infrastructure/bin
src/Services/Inv/Inv.Infrastructure/obj
src/Services/Inv/Inv.Persistence/bin
src/Services/Inv/Inv.Persistence/obj
src/Services/Inv/Inv.Shared/bin
src/Services/Inv/Inv.Shared/obj
src/Services/Inv/Inv.WebAPI/bin
src/Services/Inv/Inv.WebAPI/obj
